USE [master]
GO
/****** Object:  Database [TechEdu]    Script Date: 10/6/2026 4:14:06 PM ******/
CREATE DATABASE [TechEdu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechEdu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TechEdu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechEdu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TechEdu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechEdu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechEdu]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalMatriculados]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TotalMatriculados]()
RETURNS INT
AS
BEGIN

    DECLARE @Total INT;

    SELECT @Total = COUNT(*)
    FROM Matricula
    WHERE Situacao = 'Matriculado';

    RETURN ISNULL(@Total, 0);

END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalPresentes]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TotalPresentes]()
RETURNS INT
AS
BEGIN

    DECLARE @Total INT;

    SELECT @Total = COUNT(*)
    FROM Presenca
    WHERE Situacao = 'Presente';

    RETURN ISNULL(@Total, 0);

END;

GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[IdAluno] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[SerieEscolar] [varchar](50) NOT NULL,
	[DataCadastro] [date] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Turno] [varchar](30) NOT NULL,
	[IdTurma] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[IdMatricula] [int] IDENTITY(1,1) NOT NULL,
	[IdAluno] [int] NOT NULL,
	[DataMatricula] [date] NOT NULL,
	[Situacao] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AlunosMatriculados]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_AlunosMatriculados]
AS
SELECT
    A.IdAluno,
    A.Nome,
    A.Idade,
    A.SerieEscolar,
    M.IdMatricula,
    M.DataMatricula,
    M.Situacao AS SituacaoMatricula
FROM Aluno A
INNER JOIN Matricula M
    ON A.IdAluno = M.IdAluno;

GO
/****** Object:  Table [dbo].[Aula]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[IdAula] [int] IDENTITY(1,1) NOT NULL,
	[DataAula] [date] NOT NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFim] [time](7) NULL,
	[Conteudo] [varchar](200) NOT NULL,
	[Observacao] [varchar](500) NULL,
	[IdAdministrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presenca]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presenca](
	[IdPresenca] [int] IDENTITY(1,1) NOT NULL,
	[IdMatricula] [int] NOT NULL,
	[IdAula] [int] NOT NULL,
	[Situacao] [varchar](20) NOT NULL,
	[Observacao] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPresenca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PresencaAlunos]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_PresencaAlunos]
AS
SELECT
    A.IdAluno,
    A.Nome,
    A.SerieEscolar,
    M.IdMatricula,
    AU.DataAula,
    P.Situacao AS SituacaoPresenca,
    P.Observacao
FROM Aluno A
INNER JOIN Matricula M
    ON A.IdAluno = M.IdAluno
LEFT JOIN Presenca P
    ON M.IdMatricula = P.IdMatricula
LEFT JOIN Aula AU
    ON P.IdAula = AU.IdAula;

GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 10/6/2026 4:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IdAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Senha] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[IdSerie] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turma]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turma](
	[IdTurma] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[IdSerie] [int] NOT NULL,
	[Turno] [varchar](30) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTurma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Aluno] ON 

INSERT [dbo].[Aluno] ([IdAluno], [Nome], [SerieEscolar], [DataCadastro], [Ativo], [Turno], [IdTurma]) VALUES (1, N'ANDRINI MACIEL RODRIGUES', N'ENCCEJA', CAST(N'2026-10-05' AS Date), 1, N'Noturno', 3)
INSERT [dbo].[Aluno] ([IdAluno], [Nome], [SerieEscolar], [DataCadastro], [Ativo], [Turno], [IdTurma]) VALUES (2, N'SEBASTIÃO JOSÉ DOS SANTOS FILHO', N'ENCCEJA', CAST(N'2026-10-05' AS Date), 1, N'Noturno', 3)
INSERT [dbo].[Aluno] ([IdAluno], [Nome], [SerieEscolar], [DataCadastro], [Ativo], [Turno], [IdTurma]) VALUES (3, N'ELDRELINA DE OLIVEIRA VENÂNCIO', N'ENCCEJA', CAST(N'2026-10-05' AS Date), 1, N'Noturno', 3)
SET IDENTITY_INSERT [dbo].[Aluno] OFF
GO
SET IDENTITY_INSERT [dbo].[Aula] ON 

INSERT [dbo].[Aula] ([IdAula], [DataAula], [HoraInicio], [HoraFim], [Conteudo], [Observacao], [IdAdministrador]) VALUES (1, CAST(N'2026-10-06' AS Date), NULL, NULL, N'1. Introdução à Computação', NULL, NULL)
INSERT [dbo].[Aula] ([IdAula], [DataAula], [HoraInicio], [HoraFim], [Conteudo], [Observacao], [IdAdministrador]) VALUES (2, CAST(N'2026-10-06' AS Date), NULL, NULL, N'3. Redes de Computadores', NULL, NULL)
INSERT [dbo].[Aula] ([IdAula], [DataAula], [HoraInicio], [HoraFim], [Conteudo], [Observacao], [IdAdministrador]) VALUES (3, CAST(N'2026-10-10' AS Date), NULL, NULL, N'1. Introdução à Computação', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Aula] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([IdMatricula], [IdAluno], [DataMatricula], [Situacao]) VALUES (3, 1, CAST(N'2026-10-06' AS Date), N'Matriculado')
INSERT [dbo].[Matricula] ([IdMatricula], [IdAluno], [DataMatricula], [Situacao]) VALUES (4, 2, CAST(N'2026-10-06' AS Date), N'Matriculado')
INSERT [dbo].[Matricula] ([IdMatricula], [IdAluno], [DataMatricula], [Situacao]) VALUES (5, 3, CAST(N'2026-10-06' AS Date), N'Matriculado')
SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Serie] ON 

INSERT [dbo].[Serie] ([IdSerie], [Nome], [Ativo]) VALUES (1, N'8º ano', 1)
INSERT [dbo].[Serie] ([IdSerie], [Nome], [Ativo]) VALUES (2, N'ENCCEJA', 1)
INSERT [dbo].[Serie] ([IdSerie], [Nome], [Ativo]) VALUES (3, N'9º ano', 1)
SET IDENTITY_INSERT [dbo].[Serie] OFF
GO
SET IDENTITY_INSERT [dbo].[Turma] ON 

INSERT [dbo].[Turma] ([IdTurma], [Nome], [IdSerie], [Turno], [Ativo]) VALUES (1, N'8º1', 1, N'Matutino', 1)
INSERT [dbo].[Turma] ([IdTurma], [Nome], [IdSerie], [Turno], [Ativo]) VALUES (2, N'8º 3', 1, N'Matutino', 1)
INSERT [dbo].[Turma] ([IdTurma], [Nome], [IdSerie], [Turno], [Ativo]) VALUES (3, N'ENCCEJA', 2, N'Noturno', 1)
SET IDENTITY_INSERT [dbo].[Turma] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Administ__A9D105348DAB280D]    Script Date: 10/6/2026 4:14:07 PM ******/
ALTER TABLE [dbo].[Administrador] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Presenca]    Script Date: 10/6/2026 4:14:07 PM ******/
ALTER TABLE [dbo].[Presenca] ADD  CONSTRAINT [UQ_Presenca] UNIQUE NONCLUSTERED 
(
	[IdMatricula] ASC,
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Serie_Nome]    Script Date: 10/6/2026 4:14:07 PM ******/
ALTER TABLE [dbo].[Serie] ADD  CONSTRAINT [UQ_Serie_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Turma_Serie_Nome]    Script Date: 10/6/2026 4:14:07 PM ******/
ALTER TABLE [dbo].[Turma] ADD  CONSTRAINT [UQ_Turma_Serie_Nome] UNIQUE NONCLUSTERED 
(
	[IdSerie] ASC,
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aluno] ADD  DEFAULT (getdate()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Aluno] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Aluno] ADD  CONSTRAINT [DF_Aluno_Turno]  DEFAULT ('Noturno') FOR [Turno]
GO
ALTER TABLE [dbo].[Matricula] ADD  DEFAULT (getdate()) FOR [DataMatricula]
GO
ALTER TABLE [dbo].[Serie] ADD  CONSTRAINT [DF_Serie_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Turma] ADD  CONSTRAINT [DF_Turma_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_Aluno_Turma] FOREIGN KEY([IdTurma])
REFERENCES [dbo].[Turma] ([IdTurma])
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_Aluno_Turma]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Administrador] FOREIGN KEY([IdAdministrador])
REFERENCES [dbo].[Administrador] ([IdAdministrador])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Administrador]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Aluno] FOREIGN KEY([IdAluno])
REFERENCES [dbo].[Aluno] ([IdAluno])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Aluno]
GO
ALTER TABLE [dbo].[Presenca]  WITH CHECK ADD  CONSTRAINT [FK_Presenca_Aula] FOREIGN KEY([IdAula])
REFERENCES [dbo].[Aula] ([IdAula])
GO
ALTER TABLE [dbo].[Presenca] CHECK CONSTRAINT [FK_Presenca_Aula]
GO
ALTER TABLE [dbo].[Presenca]  WITH CHECK ADD  CONSTRAINT [FK_Presenca_Matricula] FOREIGN KEY([IdMatricula])
REFERENCES [dbo].[Matricula] ([IdMatricula])
GO
ALTER TABLE [dbo].[Presenca] CHECK CONSTRAINT [FK_Presenca_Matricula]
GO
ALTER TABLE [dbo].[Turma]  WITH CHECK ADD  CONSTRAINT [FK_Turma_Serie] FOREIGN KEY([IdSerie])
REFERENCES [dbo].[Serie] ([IdSerie])
GO
ALTER TABLE [dbo].[Turma] CHECK CONSTRAINT [FK_Turma_Serie]
GO
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [CK_Aula_Horario] CHECK  (([HoraFim] IS NULL OR [HoraInicio] IS NULL OR [HoraFim]>[HoraInicio]))
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [CK_Aula_Horario]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [CK_Matricula_Situacao] CHECK  (([Situacao]='Cancelado' OR [Situacao]='Concluído' OR [Situacao]='Não matriculado' OR [Situacao]='Matriculado'))
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [CK_Matricula_Situacao]
GO
ALTER TABLE [dbo].[Presenca]  WITH CHECK ADD  CONSTRAINT [CK_Presenca_Situacao] CHECK  (([Situacao]='Justificada' OR [Situacao]='Falta' OR [Situacao]='Presente'))
GO
ALTER TABLE [dbo].[Presenca] CHECK CONSTRAINT [CK_Presenca_Situacao]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarMatriculaAluno]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsultarMatriculaAluno]
    @IdAluno INT
AS
BEGIN

    SELECT
        A.IdAluno,
        A.Nome,
        A.Idade,
        A.SerieEscolar,
        M.IdMatricula,
        M.DataMatricula,
        M.Situacao

    FROM Aluno A

    INNER JOIN Matricula M
        ON A.IdAluno = M.IdAluno

    WHERE A.IdAluno = @IdAluno;

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarPresencaAluno]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsultarPresencaAluno]
    @IdAluno INT
AS
BEGIN

    SELECT
        A.Nome,
        AU.DataAula,
        AU.HoraInicio,
        AU.HoraFim,
        AU.Conteudo,
        P.Situacao,
        P.Observacao

    FROM Aluno A

    INNER JOIN Matricula M
        ON A.IdAluno = M.IdAluno

    INNER JOIN Presenca P
        ON M.IdMatricula = P.IdMatricula

    INNER JOIN Aula AU
        ON P.IdAula = AU.IdAula

    WHERE A.IdAluno = @IdAluno

    ORDER BY AU.DataAula;

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RealizarMatricula]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RealizarMatricula]
    @IdAluno INT
AS
BEGIN

    IF NOT EXISTS (
        SELECT 1
        FROM Aluno
        WHERE IdAluno = @IdAluno
    )
    BEGIN
        RAISERROR('Aluno não encontrado.', 16, 1);
        RETURN;
    END;

    INSERT INTO Matricula
    (
        IdAluno,
        DataMatricula,
        Situacao
    )
    VALUES
    (
        @IdAluno,
        GETDATE(),
        'Matriculado'
    );

    PRINT 'Matrícula realizada com sucesso.';

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPresenca]    Script Date: 10/6/2026 4:14:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarPresenca]
    @IdMatricula INT,
    @IdAula INT,
    @Situacao VARCHAR(20),
    @Observacao VARCHAR(255) = NULL
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM Presenca
        WHERE IdMatricula = @IdMatricula
          AND IdAula = @IdAula
    )
    BEGIN

        UPDATE Presenca

        SET Situacao = @Situacao,
            Observacao = @Observacao

        WHERE IdMatricula = @IdMatricula
          AND IdAula = @IdAula;

        PRINT 'Presença alterada com sucesso.';

    END

    ELSE

    BEGIN

        INSERT INTO Presenca
        (
            IdMatricula,
            IdAula,
            Situacao,
            Observacao
        )
        VALUES
        (
            @IdMatricula,
            @IdAula,
            @Situacao,
            @Observacao
        );

        PRINT 'Presença registrada com sucesso.';

    END;

END;

GO
USE [master]
GO
